<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head_comun}"></head>
    <body>
        <div th:replace="~{fragments :: menu_navegacion}"></div>
        
        <main class="container">
            <h1>Géneros de Videojuegos</h1>
        
            <div class="games-grid">
                <div class="game-card" th:each="category : ${categorias}">
        
                    <div class="card-img">
                        <img th:if="${category.imagen != null}"
                             th:src="@{/imagenes/categorias/{img}(img=${category.imagen})}"
                             th:alt="'Imagen de ' + ${category.nombre}">
        
                        <img th:if="${category.imagen == null}"
                             th:src="@{/imagenes/categorias/no-image.png}"
                             th:alt="'Imagen no disponible'">
                    </div>
        
                    <div class="card-content">
                        <h3 th:text="${category.nombre}">Nombre Categoría</h3>
                        <p th:text="${category.descripcion}">Descripción corta...</p>
                        <div class="card-footer">
                            <a th:href="@{/categorias/{id}(id=${category.id})}" class="btn-link">Ver catálogo</a>
                        </div>
                    </div>
        
                </div>
            </div>
        </main>
        
        <div th:replace="~{fragments :: pie_pagina}"></div>
    </body>
</html>