<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head_comun">
        <meta charset="UTF-8">
        <title>Tienda FGG - Videojuegos</title>
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
    </head>
    <body>
        <header th:fragment="menu_navegacion">
            <nav>
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/categorias}">Categorías</a></li>
                    <li><a th:href="@{/about-us.html}">Sobre Nosotros</a></li>
                    <li><a th:href="@{/condiciones}">Condiciones de Uso</a></li>
                </ul>
            </nav>
            <nav>
                <form th:action="@{/categorias/buscar}" method="get" style="display: inline-block;">
                    <input type="text" name="query" placeholder="Buscar juego..." required>
                    <button type="submit">🔍</button>
                </form>
            </nav>
            <hr>
        </header>

        <footer th:fragment="pie_pagina">
            <hr>
            <p>&copy; 2024 - Tienda de Videojuegos FGG</p>
        </footer>
    </body>
</html>